<html ng-app="contact-app">

<head>
  <title>Contact App</title>
  <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
  <script src="./node_modules/angular/angular.js"></script>
  <script src='./contact-app.js'></script>
</head>

<body>
  <div ng-controller="header-controller as headerCtrl">
      <h1>{{headerCtrl.appTitle}}</h1>
  </div>
  <div class="container" ng-controller="contact-app-controller as mainCtrl">
    <div class="row">
      <ul class="list-group">
        <li class="list-group-item" ng-repeat="contact in mainCtrl.contacts" ng-click="mainCtrl.selectContact($index)">
          <span> {{contact.name.first + ' ' + contact.name.last}} </span>
        </li>
      </ul>
    </div>
    <div class="row" ng-show="mainCtrl.selectedContact">
      <div class="media">
        <div class="media-left">
          <a href="#">
            <img ng-src="{{mainCtrl.selectedContact.picture.medium}}" />
          </a>
        </div>
        <div class="media-body">
          <h4 class="media-heading">{{mainCtrl.selectedContact.name.first + ' ' + mainCtrl.selectedContact.name.last}}
          </h4>
          <div>
            <p>
              <h6>Location</h6>
            </p>
            <p>{{mainCtrl.selectedContact.location.street.number + ' ' + mainCtrl.selectedContact.location.street.name}}
            </p>
          </div>
          <div>
            <p>
              <h6>Phone</h6>
            </p>
            <p>{{mainCtrl.selectedContact.phone}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div ng-controller="footer-controller as footerCtrl">
      <h1>{{footerCtrl.appTitle}}</h1>
  </div>
</body>

</html>