<html ng-app="contact-app">

<head>
  <title>Contact App</title>
  <link rel="stylesheet" href="./node_modules/bootstrap/dist/css/bootstrap.min.css">
  <script src="./node_modules/angular/angular.js"></script>
  <script src='./app.js'></script>

  <script src='./controllers/header.controller.js'></script>
  <script src='./controllers/footer.controller.js'></script>
  <script src='./controllers/contacts.controller.js'></script>

  <script src='./services/app-name.services.js'></script>
  <script src='./services/app-config.services.js'></script>
  <script src='./services/logging.service.js'></script>
  <script src='./services/contacts.service.js'></script>

</head>

<body>
  <div ng-controller="header-controller as headerCtrl">
    <h1>{{headerCtrl.appTitle}}</h1>
  </div>
  <div class="container" ng-controller="contacts-controller as mainCtrl">
    <div class="row">
      <div class="col-md-6">
        <ul class="list-group">
          <li class="list-group-item" ng-repeat="contact in mainCtrl.contacts"
            ng-click="mainCtrl.selectContact($index)">
            <span> {{contact.name.first + ' ' + contact.name.last}} </span>
          </li>
        </ul>
        <button ng-click="mainCtrl.addNew()">Add</button>
      </div>
      <div class="col-md-6" ng-show="mainCtrl.selectedContact">
        <div class="alert alert-success" ng-if="mainCtrl.userSaveSuccess">{{mainCtrl.userSaveSuccess}}</div>
        <div class="alert alert-danger" ng-if="mainCtrl.userSaveError">{{mainCtrl.userSaveError}}</div>
        <div class="media">
          <div class="media-left" ng-show="mainCtrl.selectedContact.picture">
            <a href="#">
              <img ng-src="{{mainCtrl.selectedContact.picture.medium}}" />
            </a>
          </div>
          <div class="media-body">
            <p>
              <button ng-click="mainCtrl.editSelected()" ng-hide="mainCtrl.edittingSelected">Edit</button>
              <button ng-click="mainCtrl.editSelectedDone()" ng-show="mainCtrl.edittingSelected">Done</button>
              <button ng-click="mainCtrl.deleteSelected()" ng-hide="mainCtrl.edittingSelected">Delete</button>
            </p>
            <h4 class="media-heading" ng-hide="mainCtrl.edittingSelected">
              {{mainCtrl.selectedContact.name.first + ' ' + mainCtrl.selectedContact.name.last}}
            </h4>
            <div ng-show="mainCtrl.edittingSelected">
              <p>
                Fist Name:
                <input ng-model="mainCtrl.selectedContact.name.first" />
              </p>
              <p>
                Last Name:
                <input ng-model="mainCtrl.selectedContact.name.last" />
              </p>
            </div>
            <div>
              <p>
                <h6>Location</h6>
              </p>
              <p>
                Street:
                <span ng-hide="mainCtrl.edittingSelected">
                  {{mainCtrl.selectedContact.location.street.number + ' ' + mainCtrl.selectedContact.location.street.name}}
                </span>
                <input ng-show="mainCtrl.edittingSelected" ng-model="mainCtrl.selectedContact.location.street.number" />
                <input ng-show="mainCtrl.edittingSelected" ng-model="mainCtrl.selectedContact.location.street.name" />
              </p>
              <p>
                City:
                <span ng-hide="mainCtrl.edittingSelected">
                  {{mainCtrl.selectedContact.location.city}}
                </span>
                <input ng-show="mainCtrl.edittingSelected" ng-model="mainCtrl.selectedContact.location.city" />
              </p>
              <p>
                State:
                <span ng-hide="mainCtrl.edittingSelected">
                  {{mainCtrl.selectedContact.location.state}}
                </span>
                <input ng-show="mainCtrl.edittingSelected" ng-model="mainCtrl.selectedContact.location.state" />
              </p>
            </div>
            <div>
              <p>
                <h6>Phone</h6>
              </p>
              <p>
                <span ng-hide="mainCtrl.edittingSelected">
                  {{mainCtrl.selectedContact.phone}}
                </span>
                <input ng-show="mainCtrl.edittingSelected" ng-model="mainCtrl.selectedContact.phone" />
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div ng-controller="footer-controller as footerCtrl">
    <h6>Author: {{footerCtrl.author}}</h6>
    <h6>Built Date: {{footerCtrl.builtDate}}</h6>
  </div>
</body>

</html>